{{define "content"}}
<section class="container">
  <div class="columns">
    <div class="column">
      <h1>Help</h1>
      <p>
      This is a smart bookmarks web app designed to make accessing internal
      and external resources easier as well as providing a way to build all
      sort of convenient tools.
      </p>
      <h2>Usage</h2>
      <p>
        <code>add [name] [url]</code> to add a new bookmark (or overwrite an existing one).
      </p>
      <p>
        <code>remove [name]</code> to remove a bookmark.
      </p>
      <p>
        <code>list</code> to <a href="./?q=list">view all bookmarks and commands</a>.
      </p>
    </div>
  </div>
</section>
{{end}}
